<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Feeds</key>
	<array>
		<dict>
			<key>FeedURL</key>
			<string>http://developer.apple.com/rss/adcheadlines.rss</string>
			<key>Enabled</key>
			<true/>
			<key>MaxNewsItems</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>FeedURL</key>
			<string>http://daringfireball.net/index.xml</string>
			<key>Enabled</key>
			<true/>
			<key>MaxNewsItems</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
